/vendor/
.vagrant
.env
public/wp
public/wp-content/languages
public/wp-content/plugin
public/wp-content/uploads
tests/ui/.reports
!tests/ui/.reports/.gitkeep
.dep
public/wp-content/plugins
public/wp-content/themes/twentysixteen
