/vendor/
.vagrant
.env
public/wp
public/wp-content/languages
public/wp-content/plugins
public/wp-content/uploads
public/wp-content/upgrade
tests/ui/.reports
!tests/ui/.reports/.gitkeep
.dep
public/wp-content/plugins
public/wp-content/themes/twentysixteen
